@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(222, 181, 233);
}

.contenedor {
  font-family: "Nunito", sans-serif;
}

.contenedor h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
}

.excusas {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  font-size: 25px;
  width: 700px;
  box-shadow: 0px 1px 10px rgb(175, 175, 175);
}

.boton {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 40px;
}

.boton button {
  background-color: rgb(159, 130, 185);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 20px;
}

button:hover {
  background-color: rgb(133, 106, 156);
}
